<div class="container">
  <div class="catalog__inner">
    <div class="catalog__top">
      <h5 class="catalog__title">
        65 проектов по дизайну
      </h5>
      <div class="catalog__price">

      </div>
    </div>
    <div class="catalog__content">
      <div class="catalog__items">

        <div class="catalog__item">

          <div class="catalog__box-human">
            <h5 class="catalog__title catalog__human-title">
              Нужно сделать Дизайн сайта по тематике авто
            </h5>
            <div class="catalog__box">
              <img class="catalog__img" src="images/catalog-human1.jpg" alt="human image">
              <div class="catalog__human-info">
                <p class="catalog__text">
                  Екатерина Иванова
                </p>
                <p class="catalog__text">
                  Размещено проектов на бирже: 25
                </p>
                <div class="catalog__star">
                  Звездва 
                </div>
                <span class="catalog__review">15 отзывов</span>
              </div>
            </div>
          </div>

          <div class="catalog__work-info">
            <h5 class="catalog__title catalog__price-title">
              Бюджет: 50 000 тенге
            </h5>
            <p class="catalog__time">
              4 часа 28 минут назад
            </p>

            <p class="catalog__suggestions">
              Предложений: 50
            </p>
          </div>

        </div>

        
        


      </div>

    </div>
  </div>
</div>