<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo header-logo" href="#">
        <img class="logo__img" src="images/header__logo.svg" alt="header-logo">
      </a>

      <nav class="menu">
        <ul class="menu__list">


          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              Биржа
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              Ворки
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              Конкурсы
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              Создать ворк
            </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">
              Создать заказ
            </a>
          </li>


        </ul>
      </nav>

      <div class="header-box">
        <button class="header-box__registration" type="submit">
          Регистрация
        </button>
        <button class="header-box__login" type="submit">
          Войти
        </button>
      </div>
    </div>
  </div>
</header>