<!DOCTYPE html>
<html lang="ru">

<!--#include virtual="/templates/_head.html" -->

<body class="wrapper">


    <!--#include virtual="/templates/_header.html" -->
    <main class="content">


        <!--
    Каркас для старта верстки страницы
это надо стереть 
-->



    </main>
    <!--#include virtual="/templates/_footer.html" -->


    <!--#include virtual="/templates/_scripts.html" -->
</body>

</html>

<!-- <div class="header-box">
    <a class="header-box__registration btn-registration" >
      Регистрация
    </a>
    <a class="header-box__login btn-login"  href="#login-popup">
      Войти
    </a>
  </div> -->