<section class="work-progress">
    <div class="container">
        <div class="work-progress-inner">
            <div class="work-progress-inner__steps">

                <div class="work-progress-inner__step">
                    <span class="work-progress-inner__number"> 1 </span>
                    <span class="work-progress-inner__title">Основные</span>
                </div>
                <div class="work-progress-inner__step">
                    <span class="work-progress-inner__number"> 2 </span>
                    <span class="work-progress-inner__title">Стоимость и опции</span>
                </div>
                <div class="work-progress-inner__step">
                    <span class="work-progress-inner__number"> 3 </span>
                    <span class="work-progress-inner__title">Описание</span>
                </div>
                <div class="work-progress-inner__step  ">
                    <span class="work-progress-inner__number"> 4 </span>
                    <span class="work-progress-inner__title">Требования</span>
                </div>
                <div class="work-progress-inner__step _active-step">
                    <span class="work-progress-inner__number"> 5 </span>
                    <span class="work-progress-inner__title">Галерея</span>
                </div>
                <div class="work-progress-inner__step">
                    <span class="work-progress-inner__number"> 6 </span>
                    <span class="work-progress-inner__title">Публикация</span>
                </div>
            </div>
            <div class="work-progress-inner__line">
                <div class="work-progress-inner__active ">

                </div>
            </div>
        </div>
    </div>
</section>