.header {
	background-color: #f7f6ff;
	&__inner {
		padding: 50px 0 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
	}
}

.menu {
	&__list {
		display: flex;
		@include mont-500;
		font-size: 16px;
		line-height: 20px;
		color: #222;
	}

	&__list-item + .menu__list-item {
		margin-left: 40px;
	}
}

.header-box {
	display: flex;
	&__registration {
		margin-right: 30px;
		padding: 10px 30px;
		color: $green;
		font-size: 16px;
		line-height: 20px;
		border-radius: 50px;
		background-color: #f2f0fe;
		@include mont-600;
	}

	&__login {
		padding: 10px 30px;
		color: #f6fafd;
		font-size: 16px;
		line-height: 20px;
		border-radius: 50px;
		background-color: $green;
		@include mont-600;
	}
}

.footer {
	padding: 50px 0 100px;
	background-color: #F2F0FE;
}

.footer-top {
	&__items {
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;
	}


	&__title {
		margin-bottom: 30px;
		@include mont-700;
		font-size: 24px;
		line-height: 29px;
		color: #222;
	}

	&__list {
		font-size: 14px;
		line-height: 17px;
	}

	&__list-social {
		display: flex;
	}

	&__list-item + .footer-top__list-item {
		margin-top: 10px;
	}

	&__list-item-social + .footer-top__list-item-social {
		margin-left: 30px;
	}
	
	&__img-social:hover {
	
		path{
			fill: $green;
		}


		
	}

	.footer-inst:hover{
		circle{
			fill: $green;
		}
	}
	
}

.footer-bottom {
	&__text {
		text-align: center;
		@include mont-500;
		font-size: 16px;
		line-height: 20px;
	}
}
