.header {
	background-color: transparent;

	&__inner {
		padding: 50px 0 60px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
	}

	&-logo {
		margin-right: 60px;
	}
}

.menu {
	&__list {
		display: flex;
		@include mont-500;
		font-size: 16px;
		line-height: 20px;
		color: #222;
	}

	&__list-item + .menu__list-item {
		margin-left: 40px;
	}
}

.header-box {
	display: flex;

	&__registration {
		margin-right: 30px;
		padding: 10px 30px;
		color: $green;
		font-size: 16px;
		line-height: 20px;
		border-radius: 50px;
		background-color: #f2f0fe;
		@include mont-600;
	}

	&__login {
		padding: 10px 30px;
		color: #f6fafd;
		font-size: 16px;
		line-height: 20px;
		border-radius: 50px;
		background-color: $green;
		@include mont-600;
	}
}

.footer {
	padding: 50px 0 100px;
	background-color: #f2f0fe;
}

.footer-top {
	&__items {
		margin-bottom: 50px;
		display: flex;
		justify-content: space-between;
	}

	&__title {
		margin-bottom: 30px;
		@include mont-700;
		font-size: 24px;
		line-height: 29px;
		color: #222;
	}

	&__list {
		font-size: 14px;
		line-height: 17px;
	}

	&__list-social {
		display: flex;
	}

	&__list-item + .footer-top__list-item {
		margin-top: 10px;
	}

	&__list-item-social + .footer-top__list-item-social {
		margin-left: 30px;
	}

	&__img-social:hover {
		path {
			fill: $green;
		}
	}

	.footer-inst:hover {
		circle {
			fill: $green;
		}
	}
}

.footer-bottom {
	&__text {
		text-align: center;
		@include mont-500;
		font-size: 16px;
		line-height: 20px;
	}
}

.promo {
	padding: 130px 0 170px;
	// background-color: #E5E5E5;
	position: relative;

	&__img {
		position: absolute;

		&-one {
			left: 110px;
			bottom: 400px;
		}

		&-two {
			left: 545px;
			bottom: 115px;
		}

		&-three {
			left: 950px;
			top: -40px;
		}

		&-four {
			right: 145px;
			top: 0px;
		}

		&-five {
			right: 340px;
			bottom: 115px;
		}
	}

	&__inner {
		text-align: center;
	}

	&__title {
		@include mont-700;
		font-size: 36px;
		line-height: 44px;
		margin-bottom: 60px;
	}

	&__form {
		display: flex;
		justify-content: center;
		position: relative;
		max-width: 645px;
		width: 100%;
		height: 60px;
		margin: 0 auto 50px;
	}

	&__input {
		padding-left: 20px;
		max-width: 645px;
		width: 100%;
		height: 60px;
		background-color: #f2f0fe;
		border-radius: 50px;
		border: 0;
		padding-right: 154px;

		&:focus {
			outline: none;
			border-radius: 50px;
			border: 3px solid $green;
		}
	}

	&__btn {
		position: absolute;
		right: 4px;
		top: 3px;
		max-width: 154px;
		width: 100%;
		height: 54px;
		background-color: #fba457;
		border: 1px solid #f2f0fe;
		box-sizing: border-box;
		border-radius: 50px;
		color: #fff;
	}

	&__box-one,
	&__box-two {
		display: flex;
		justify-content: center;
	}

	&__box-one {
		margin-bottom: 40px;
	}

	&__box-two {
		margin-bottom: 50px;
	}

	&__box-btn {
		background-color: transparent;
		padding: 10px 20px;
		font-size: 14px;
		line-height: 17px;
		border: 1px solid #f2f0fe;
		border-radius: 50px;
	}

	&__box-btn + .promo__box-btn {
		margin-left: 60px;
	}

	&__text {
		font-size: 24px;
		line-height: 29px;
		@include mont-500;
		margin-bottom: 35px;
	}

	&__icon {
		margin: 0 auto;
	}
}

.catalog {
	&__top {
		margin-bottom: 40px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		border: 1px solid #f2f0fe;
		box-sizing: border-box;
		border-radius: 20px;
		padding: 20px;
		margin-bottom: 40px;
	}

	&__box {
		display: flex;
		// align-items: center;
	}

	&__title {
		@include mont-600;
		font-size: 24px;
		line-height: 29px;
	}

	&__human-title {
		margin-bottom: 20px;
		color: #000;
	}

	&__img {
		margin-right: 20px;
		object-fit: cover;
	}

	&__text {
		@include mont-500;
		font-size: 18px;
		line-height: 22px;
		margin-top: 10px;
		color: #000;

		& + .catalog__text {
			margin-bottom: 10px;
		}
	}

	&__star {
		display: inline-block;
	}

	&__review {
		margin-left: 25px;
		color: #000;
		@include mont-600;
		font-size: 14px;
		line-height: 17px;
	}

	&__work-info {
		text-align: right;
	}

	&__price-title {
		margin-bottom: 10px;
		color: $green;
	}

	&__time {
		font-size: 14px;
		line-height: 17px;
		color: #656084;
		margin-bottom: 90px;
	}

	&__suggestions {
		font-size: 18px;
		line-height: 22px;
		color: #656084;
	}
}

.purchase {
	padding: 80px 0 120px;
	&__inner {
		display: flex;
	}

	&__content {
		margin-right: 125px;
	}

	&__title {
		margin-bottom: 30px;
		width: 570px;
	}

	&__text {
		@include mont-500;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 50px;
	}

	&__form {
		max-width: 532px;
		margin: 0 0 50px;
	}

	&__input {
		max-width: 532px;
	}

	&__text-after {
		@include mont-500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 40px;
	}

	&__box-one,
	&__box-two,
	&__box-three {
		display: flex;
		justify-content: flex-start;
	}

	&__box-one,
	&__box-two {
		margin-bottom: 40px;
	}

	&__box-btn + .promo__box-btn {
		margin-left: 60px;
	}

	&__icon {
		position: absolute;
		z-index: 8;

		&-one {
			right: 435px;
			top: -20px;
		}

		&-two {
			top: 155px;
			right: 483px;
		}

		&-three {
			bottom: 0px;
		}

		&-four {
			right: 15px;
			top: 195px;
		}

		&-five {
			bottom: 112px;
			right: 0px;
		}

		&-six {
			bottom: 50px;
			right: 20px;
		}
	}

	&__images {
		position: relative;
		top: -70px;
	}
}

.actual {
	padding: 0 0 100px;

	&__title {
		@include mont-600;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 50px;
	}

	&__item {
		width: 420px;
		height: 270px;
		padding: 20px;
		border: 1px solid #f2f0fe;
		box-sizing: border-box;
		border-radius: 20px;
	}

	&__box {
		display: flex;
		margin-bottom: 30px;
	}

	&__img {
		width: 45px;
		height: 45px;
		object-fit: cover;
		margin-right: 20px;
	}

	&__announcement {
		@include mont-600;
		font-size: 18px;
		line-height: 22px;
		width: 250px;
	}

	&__text {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 30px;
	}

	&__btn {
		width: 380px;
		height: 40px;
		border: 1px solid #1dbf73;
		box-sizing: border-box;
		border-radius: 50px;
		color: $green;
		@include mont-500;
		font-size: 14px;
		line-height: 17px;
		transition: all 0.3s;

		&:hover {
			background-color: $green;
			color: #fff;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px 30px;
	}

	&__item-last {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #F2F0FE;
	}

	&__link {
		@include mont-600;
		font-size: 18px;
		line-height: 22px;
		color: $green;
	}
}
