.header {
	background-color: #F7F6FF;
	&__inner {
		margin: 50px 0 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: relative;
	}
}

.menu {
	&__list {
		display: flex;
		@include mont-500;
		font-size: 16px;
		line-height: 20px;
		color: #222;
	}

	&__list-item + .menu__list-item {
		margin-left: 40px;
	}
}

.header-btn {
	display: flex;
	&__registration {
		margin-right: 30px;
		padding: 10px 30px;
		color: $green;
		font-size: 16px;
		line-height: 20px;
		border-radius: 50px;
		background-color: #F2F0FE;
		@include mont-600;
	}

	&__enter {
		padding: 10px 30px;
		color: #F6FAFD;
		font-size: 16px;
		line-height: 20px;
		border-radius: 50px;
		background-color: $green;
		@include mont-600;
	}
}
