html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    @include mont-400;

    color: #222222
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit
}



ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    display: block;
    border: none;
    padding: 0;
    cursor: pointer;
    background: inherit;
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding: 0 10px 0;
    margin: 0 auto;
}

.input-text {
    cursor: pointer;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 9px;
   
    @include mont-500;
    font-size: 16px;
    line-height: 20px;
    background-color: transparent;
    border: 0;
    outline: none;
    transition: 0.3s all;
    border-bottom: 1px solid #F2F0FE;

    &::placeholder {
        @include mont-500;
        font-size: 16px;
        line-height: 20px;
        color: #B0AAD0;
    }
    &:active,
    &:focus {
        border-bottom: 1px solid#B0AAD0;
        cursor:text;
    }

    &.successful {
        border: 1px solid #D7FFEC;
    }

    &.error {
        border: 1px solid #FF4343;
    }
}

.buttons {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.prev,
.next {
    display: block;
    width: 240px;
    height: 60px;
    border-radius: 50px;
    font-size: 20px;
    line-height: 24px;
    @include mont-600;
}

.prev {
    background: #F2F0FE;
    color: #656084
}

.next {
    background: #1DBF73;
    color: #F6FAFD;
}