$green:rgba(29, 191, 115, 1);
$orange:rgba(251, 164, 87, 1);
$white:#fff;

@mixin input-type-file-hide {
    input {
        visibility: hidden;
        display: none;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mont-300 {
    font-family: 'Monsterrat-light';
    font-weight: 300;
}

@mixin mont-400 {
    font-family: 'Monsterrat-regular';
    font-weight: 400;
}

@mixin mont-500 {
    font-family: 'Monsterrat-medium';
    font-weight: 500;
}

@mixin mont-600 {
    font-family: 'Monsterrat-semibold';
    font-weight: 600;
}

@mixin mont-700 {
    font-family: 'Monsterrat-bold';
    font-weight: 700;
}