@import "vars";
@import "global";
@import "fonts";
@import "reset";
@import "aziz-main";
@import "aziz-media";



body {
    background-color: blue;
}

.header {
    height: 150px;
    width: 100%;
    background: red;
}

.footer {
    height: 150px;
    width: 100%;
    background: green;
    border-radius: 30px
}





@import "media";