@import "fonts";
@import "vars";
@import "global";
@import "aziz-main";
@import "aziz-media";
@import"aziz-global";
@import "purchase";


.header-box {
    display: flex;
    align-items: center;

    margin-left: auto;
}

.header-widget {

    display: flex;
    align-items: center;
    margin-right: 45px;

    &__item {
        margin-right: 34px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.header-list {
    display: flex;
    align-items: center;

    &__image {
        border-radius: 50%;
    }

    &__item {
        &.header__name {
            margin-right: 16px;
            font-size: 16px;
            line-height: 20px;
            @include mont-600;
        }

        &.header__logo {

            margin-right: 20px;
        }

    }
}

.header__form {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px 0;
    position: fixed;
    z-index: 3;
    background-color: $white;
    width: 100%;
    height: 50px;

    &-logo {}

    &-image {
        width: 100px;
        height: 20px;
        object-fit: cover;
    }
}

.bahandi {


    &-item {
        background: #656084;
        height: 2px;
        width: 20px;
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 5px;
        }
    }
}

.work-progress {
    margin-bottom: 112px;

    &-inner {
        display: flex;
        justify-content: center;

        position: relative;

        &__steps {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
            max-width: 980px;
            width: 100%;
        }

        &__step {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;



            &._active-step {
                transition: 1.5s border;
                transition-delay: 2.8s;
                border: 8px solid;
                border-color: rgba(29, 191, 115, 0);
            }

            border-radius: 50%;
        }

        &__number {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            background-color: $green;
            border-radius: 50%;
            color: $white;
            @include mont-600;
            font-size: 24px;
            line-height: 29px;
        }

        &__title {
            font-size: 16px;
            line-height: 20px;
            color: #000;
            margin-top: 12px;
            position: absolute;
            white-space: nowrap;
            bottom: -32px;
            @include mont-500;
        }

        &__active,
        &__line {
            max-width: 950px;

            height: 3px;
            bottom: 28px;

        }

        &__active {
            width: 0%;
            transition: 3s width;
            z-index: 2;
            background-color: $green;
        }

        &__line {
            z-index: 1;
            position: absolute;
            width: 100%;
            background-color: #B0AAD0;

        }
    }

}

.gallery-create {
    margin-bottom: 200px;

    &-inner {


        &__upload-list {
            width: 100%;
            max-width: 330px;
        }

        &__upload-item {

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        &__upload-name-file {

            &::before,
            &::after {
                content: "";
                background-position: center;
                background-size: cover;
                position: absolute;
            }

            &::before {
                background-image: url(../images/before-input-file.svg);
                width: 11px;
                height: 13px;
                left: 0;
            }

            &::after {
                background-image: url(../images/after-input-file.svg);
                width: 14px;
                height: 20px;
                right: 0;
                bottom: 3px;
            }

            margin-right: 12px;
            width: 100%;
            padding-left: 23px;
            display: block;
            position: relative;
            color: #606266;
            font-size: 14px;
            line-height: 16px;
            @include mont-400;
        }

        &__upload-done {
            opacity: 1;
            background-image: url(../images/upload-done.svg);
            display: block;
            line-height: 14;
            width: 14px;
            height: 14px;
            position: relative;
            bottom: 4px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__helper {
            margin-top: 6px;
            margin-bottom: 40px;
            color: #909399;
            font-size: 9.47368px;
            line-height: 14px;
            @include mont-400;
        }

        &__loading-file {
            margin-top: 30px;
            display: block;
            width: 100%;
            max-width: 420px;
            min-height: 323px;
            //min-height:230px;
            border: 0.789474px solid #F2F0FE;
            box-sizing: border-box;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px 44px;

        }

        &__download-image {
            margin: 37px 0 13px;
        }

        &__label-second {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 330px;
            height: 140px;
            font-size: 11.0526px;
            line-height: 17px;
            @include mont-400;
            border: 0.789474px dashed #DCDFE6;
            box-sizing: border-box;
            border-radius: 3px;
            background-color: #F2F0FE;
        }

        &__download-span {
            color: $orange;
        }

        &__loading-file,
        &__showcase {
            @include input-hide;
        }

        &__showcase {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: -30px;
            margin-right: -30px;


        }

        &__box {
            &:first-child {
                margin-bottom: 60px;
            }
        }

        &__title {
            @include mont-600;
            font-size: 24px;
            line-height: 29px;
            color: #000;
            margin-bottom: 30px;
        }

        &__text {
            color: #000;
            @include mont-500;
            font-size: 18px;
            line-height: 22px;
        }

        &__item {
            width: 195px;
            height: 195px;
            border-radius: 20px;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        &__template {
            &:hover {
                border: 3px solid $orange;
            }

            &:active {
                background-color: #ffe0b5;
                border: none;
            }

            cursor: pointer;
            transition: 0.3s background-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #EBE8FF;

            &-image {
                margin-bottom: 20px;
            }

            &-title {
                font-size: 20px;
                line-height: 24px;
                color: $orange;
                @include mont-600;
            }
        }




        &__span {

            margin-bottom: 18px;
        }

        &__input {}

        &__link-to-video {
            display: block;
            margin-top: 30px;
            max-width: 420px;
            width: 100%;
            margin-bottom: 60px;
        }
    }
}

.finish {
    &-inner {
        margin-top: 80px;
        margin-bottom: 134px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        color: $black-m;

        &__title {
            @include mont-600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 30px;
        }

        &__text {
            @include mont-500;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 60px;
        }

        &__image {
            object-fit: cover
        }
    }
}

.login,
.reg {
    &__inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &-text {
        text-align: center;
        margin-top: 20px;
    }

    &-checkbox-label {
        &:first-child {
            margin-right: 20px;
        }
    }
}

.reg {
    .form-all__slider-item {
   
    }

    .reg__inner {
        height: 100vh;
    }

    .form-logo {
        display: none;
        top: -70px;

        z-index: 3;

        &__link {}

        &__image {}
    }

    .form-all__label {
        margin-bottom: 30px;
    }
}

.form-outter {
    background: #000000;
    opacity: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    transition: 0.4s all;
    position: absolute;
    z-index: 1;

    &._outter-active {
        opacity: 0.5;
        visibility: visible;
    }
}

.form-show {
    display: none;
    min-width: 320px;
    height: 56px;
    width: 100%;
    background: #F6FAFD;
    border-radius: 20px 20px 0px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 16px;
        line-height: 20px;
        @include mont-600;
        color: $green;
        text-align: center;
    }

    &__ico {
        transition: 0.4s all;
        transform: rotateX(0);
        perspective: 100px;
        margin-bottom: 4px;

        &._icon-active {
            transform: rotateX(180deg);
        }
    }
}

.login {
    .form-logo {
        position: fixed;
        top: 20px;

        z-index: 3;

        &__link {}

        &__image {}
    }
}

.form-logo {
    position: fixed;
    top: 20px;

    z-index: 3;

    &__link {}

    &__image {}
}

.form-all {
    min-width: 510px;
    transition: 0.4s all;
    margin-right: 150px;

    &__slider {
        position: relative;
        width: 960px;

        &-wrapper {
            .slick-dots {
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                bottom: 60px;
                display: flex;
                align-items: center;

                li.slick-active {
                    opacity: 1;
                    width: 32px;
                    height: 32px;
                }

                li {
                    transition: 0.3s all;
                    margin-right: 24px;

                    &:last-child {
                        margin-right: 0;
                    }

                    border-radius: 50%;
                    opacity: 0.5;
                    width: 16px;
                    height: 16px;
                    background-color: $orange;
                }

                button {
                    font-size: 0;
                    line-height: 0px;
                }
            }
        }

        &-item {
            width: auto;
            height: 1080px;
            display: block;
            position: relative;
            z-index: 1;
        }

        &-box {
            left: 60px;
            padding: 20px;
            position: absolute;
            max-width: 840px;
            width: 100%;
            min-height: 103px;
            bottom: 130px;
            background: #FFFFFF;
            box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.08);
            border-radius: 20px;
            z-index: 2;
        }

        &-image {
            display: block;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        &-title {
            font-size: 24px;
            line-height: 29px;
            @include mont-600;
            color: $orange;
            margin-bottom: 10px;
        }

        &-text {
            font-size: 20px;
            line-height: 24px;
            @include mont-400;
            color: $black-m;
        }
    }

    &__subtitle {
        font-size: 16px;
        line-height: 20px;
        @include mont-400;
        color: #2D3748;
        display: block;
    }

    &__text {
        @include mont-500;
        font-size: 16px;
        line-height: 20px;
        color: #616161;

        &-link {
            color: $orange;
        }
    }

    &__title {
        margin-top: auto;
        display: block;
        margin-bottom: 58px;
        font-size: 30px;
        line-height: 37px;
        @include mont-700;
        color: #1A202C;
    }

    &__button-google,
    &__button {
        border-radius: 100px;
        font-size: 18px;
        line-height: 22px;
        height: 50px;
        width: 100%;
        @include mont-700;
        color: $white;
    }

    &__button-google {
        margin-top: 20px;
        background: #2D3748;
        margin-bottom: 60px;
    }

    &__button-google-item {

        position: relative;
        padding-left: 33px;

        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/google-button.svg);
            left: 0;
            top: -5px;
            height: 21px;
            width: 21px;
        }
    }

    &__button {
        background: $green;
    }

    &__label {
        margin-bottom: 40px;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__affirmative {
        margin-top: 25px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    &__forgot {
        font-size: 18px;
        line-height: 22px;
        color: $orange;
        @include mont-400;
        margin-left: auto;
    }

    &__checkbox-span {
        z-index: 1;
        margin-bottom: 0 !important;
        display: block;
    }

    &__checkbox-label {
        display: flex;
        position: relative;
        z-index: 3;

    }



    // &__checkbox-template {
    //     width: 24px;
    //     height: 24px;
    //     border-radius: 50%;
    //     transition: 0.3s all;
    //     border: 2px solid #B0AAD0;


    // }

}

@import "reset";
@import "media";